<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-right">

                <li><a ng-click="VPrincipal()"> Regresar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

    <form name="fEventoForm" ng-submit="AEditarEvento1(fEventoForm.$valid)" novalidate>

        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.nombre.$invalid 
                                      && fEventoForm.nombre.$pristine }">
            <label for="fEvento_nombre">Nombre</label>
            <input id="fEvento_nombre" type="text" name="nombre" 
                   class="form-control" ng-model="fEvento.nombre" 
                   placeholder="{{evento.nombre}}"/>
        </div>
        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.descripcion.$invalid 
                                      && fEventoForm.descripcion.$pristine}">
            <label for="fEvento_descripcion">Descripción</label>
            <input id="fEvento_descripcion" type="text" name="descripcion" 
                   class="form-control" ng-model="fEvento.descripcion"
                   placeholder="{{evento.descripcion}}"/>
        </div>
        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.fecha.$invalid 
                                      && fEventoForm.fecha.$pristine}">
            <label for="fEvento_fecha">Fecha</label>
            <input id="fEvento_fecha" type="date" name="fecha" 
                   class="form-control" ng-model="fEvento.fecha" 
                   placeholder="{{evento.fecha}}"/>
        </div>
        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.lugar.$invalid 
                                      && fEventoForm.lugar.$pristine}">
            <label for="fEvento_lugar">Dirección</label>
            <input id="fEvento_lugar" name="lugar" 
                      class="form-control" ng-model="fEvento.lugar"
                      placeholder="{{evento.lugar}}"/>
        </div>
        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.capacidad.$invalid 
                                      && fEventoForm.capacidad.$pristine}">
            <label for="fEvento_capacidad">Capacidad</label>
            <input id="fEvento_capacidad" type="number" name="capacidad" 
                   class="form-control" ng-model="fEvento.capacidad"
                   placeholder="{{evento.capacidad}}"/>
        </div>
        <div class="form-group" 
            ng-class="{ 'has-error' : fEventoForm.afiche.$invalid && fEventoForm.afiche.$pristine}">
            <label for="fEvento_afiche">Afiche</label>
            <input type="file" id="fEvento_afiche" name="afiche" 
                    file="fEvento.afiche" ng-model="fEvento.afiche" placeholder="Afiche" />
        </div>

        <button type="submit" class="btn btn-md">
        <span class="glyphicon glyphicon-edit"></span>&nbsp; Editar Evento</button>
    </form>
    </br>
    </br>

<div id="right"></div>

