<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                data-toggle="collapse" 
                data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-text">Usuario: {{user}}</li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Cerrar sesión</li>
                
            </ul>
<!--li><a ng-click="ACerrarSesion1()">Cerrar sesión</a></li-->

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

<div align="right"> 

    <button ng-click="AEvents()" class="btn btn-md">
        <span class="glyphicon glyphicon-pushpin"></span>
        &nbsp; Eventos Reservados
    </button>

    <button ng-click="VCrearEvento()" class="btn btn-md">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp;Crear Evento
    </button>

</div> 

<table class="table table-striped">
    <thead>
        <th class="text-center">ID</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Lugar</th>
        <th class="text-center">Capacidad</th>
        <th> </th>
    </thead>
    <tbody ng-repeat="events in evento">
    <tr>
        <td align="center"> {{events.eventoid}} </td>
        <td align="center"> {{events.nombre}} </td>
        <td align="center"> {{events.fecha}} </td>
        <td align="center"> {{events.lugar}} </td>
        <td align="center"> {{events.capacidad}} </td>
        <td class="btn-group" role="group">
            <a class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            <a class="btn btn-default" ng-click="AEliminarEvento2(events.eventoid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </span>
        </td>
    </tr>
    <tbody>
</table>

<div id="right"></div>
